@{
	var SiteName = System.Web.Configuration.WebConfigurationManager.AppSettings["site-name"];

	if (ViewBag.Title == "")
	{
		ViewBag.Title = SiteName;
	}
	else
	{
		ViewBag.Title = ViewBag.Title + " - " + SiteName;
	}
}

<!DOCTYPE html>

<html lang="en">

	<head>

		<title>@ViewBag.Title</title>

		<!-- Metadata -->
		<meta charset="utf-8">
		<meta name="description" content="@ViewBag.Description">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicons, Sitemap, Humans.txt -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="sitemap" type="application/xml" href="/sitemap.xml" />
		<link rel="author" type="text/plain" href="/humans.txt" />

		<!-- Facebook Metadata -->
		<meta property="og:title" content="@ViewBag.Title" />
		<meta property="og:description" content="@ViewBag.Description" />
		<meta property="og:type" content="@ViewBag.Description" />
		<meta property="og:url" content="@Request.Url.AbsoluteUri" />
		<meta property="og:image" content="/apple-touch-icon.png" />

		<!-- Twitter Metadata -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="@ViewBag.Title" />
		<meta name="twitter:description" content="@ViewBag.Description" />
		<meta name="twitter:site" content="@("@flamebug")" />
		<meta name="twitter:creator" content="@("@flamebug")" />

		<!-- RSS Feed -->
		<!--<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />-->

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/styles/style.css">
		@RenderSection("Styles", false)

		<!-- Startup Scripts -->
		@RenderSection("Startup-Scripts", false)

    </head>

    <body>

		<nav id="nav" role="navigation">

			<a id="nav-button"><i>+</i></a>
			<!--<a id="logo" href="/"><img src="/Images/flamebug-Logo-Black.png" alt="Flamebug" style="opacity: .4"/></a>-->

			@Html.Partial("_Navigation")

		</nav>

		<div id="content" role="main">

			@RenderBody()

		</div>

		<footer id="footer" role="contentinfo">

			@Html.Partial("_Footer")

		</footer>

		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.11.1.min.js"><\/script>')</script>

		<!-- Scripts -->
		@RenderSection("Scripts", false)

		<!-- Responsive Menu Toggle -->
		<script>

			$(function () {

				$("#nav-button").click(function () {
					$("#nav-button i").toggleClass("open");
					$("#nav ul").toggleClass("open");
				});

			});

		</script>

        @Html.Partial("_Analytics")

    </body>

</html>
